<header class="header">
        <nav class="nav-wrapper">
            <div class="container-wide">
                <div class="row space-between align-center">
                    <div class="logo">LDR</div>

                    <div class="nav">
                        <ul>
                            <li><a href="/">Головна</a></li>
                            <li><a href="/students">Студенту</a></li>
                            <li><a href="/business">Роботодавцю</a></li>
                        </ul>
                    </div>

                    <a href="https://shop.lanadelrey.polydor.co.uk/?utm_campaign=LanaDelRey20190730&utm_content=&utm_medium=owned&utm_source=Website&utm_linkurl=Lana.lnk.to%2FStore&utm_board=lana-del-rey&utm_country=GB&utm_referrer=www.lanadelrey.com%2F" target="_blank" class="store">
                        <img src="./img/icons/cart.svg" alt="cart" />
                        щось
                    </a>
                    <button class="nav-button">
                        <span class="nav-button-icon"></span>
                    </button>

                    <div class="mobile-nav">
                        <div class="nav">
                            <ul>
                                <li><a href="/">Головна</a></li>
                                <li><a href="/students">Студенту</a></li>
                                <li><a href="/business">Роботодавцю</a></li>
                            </ul>
                        </div>
                        <a href="https://shop.lanadelrey.polydor.co.uk/?utm_campaign=LanaDelRey20190730&utm_content=&utm_medium=owned&utm_source=Website&utm_linkurl=Lana.lnk.to%2FStore&utm_board=lana-del-rey&utm_country=GB&utm_referrer=www.lanadelrey.com%2F" target="_blank" class="store">
                            <img src="./img/icons/cart.svg" alt="cart" />
                            щось
                        </a>
                    </div>

                </div>
            </div>
        </nav>
    </header>