<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SP App</title>

    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
  <header class="header">
        <nav class="nav-wrapper">
            <div class="container-wide">
                <div class="row space-between align-center">
                  <a href="/">
                      <div class="logo">SnB</div>
                  </a>
                    
                    <div class="nav">
                        <ul>
                            <li><a href="/">Головна</a></li>
                            <li><a href="/students">Студенту</a></li>
                            <li><a href="/business">Роботодавцю</a></li>
                        </ul>
                    </div>

                    <a href="https://shop.lanadelrey.polydor.co.uk/?utm_campaign=LanaDelRey20190730&utm_content=&utm_medium=owned&utm_source=Website&utm_linkurl=Lana.lnk.to%2FStore&utm_board=lana-del-rey&utm_country=GB&utm_referrer=www.lanadelrey.com%2F" target="_blank" class="store">
                        <img src="./img/icons/cart.svg" alt="cart" />
                        щось
                    </a>
                    <button class="nav-button">
                        <span class="nav-button-icon"></span>
                    </button>

                    <div class="mobile-nav">
                        <div class="nav">
                            <ul>
                                <li><a href="/">Головна</a></li>
                                <li><a href="/students">Студенту</a></li>
                                <li><a href="/business">Роботодавцю</a></li>
                            </ul>
                        </div>
                        <a href="https://shop.lanadelrey.polydor.co.uk/?utm_campaign=LanaDelRey20190730&utm_content=&utm_medium=owned&utm_source=Website&utm_linkurl=Lana.lnk.to%2FStore&utm_board=lana-del-rey&utm_country=GB&utm_referrer=www.lanadelrey.com%2F" target="_blank" class="store">
                            <img src="./img/icons/cart.svg" alt="cart" />
                            щось
                        </a>
                    </div>

                </div>
            </div>
        </nav>
    </header>
  <main class="landing-body">
    <article class="main-section">
      <h1 class="landing-title">Оберіть варіант входу</h1>
      <div class="main-section-wrapper">
        <a href="/students">
          <div class="student-type-card">
            <p class="user-type-text">Я - студент</p>
          </div>
        </a>
        <a href="/business">
          <div class="employer-type-card">
            <p class="user-type-text">Я - роботодавець</p>
          </div>
        </a>
      </div>
    </article>
  </main>
  <footer></footer>
  </body>
</html>