<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SP App</title>

    <link rel="stylesheet" href="css/style.css" />

  </head>
  <header class="header">
        <nav class="nav-wrapper">
            <div class="container-wide">
                <div class="row space-between align-center">
                    <a href="/">
                      <div class="logo">SnB</div>
                  </a>

                    <div class="nav">
                        <ul>
                            <li><a href="/">Головна</a></li>
                            <li><a href="/students">Студенту</a></li>
                            <li><a href="/business">Роботодавцю</a></li>
                        </ul>
                    </div>

                    <a href="#" target="_blank" class="store">
                        <img src="./img/icons/cart.svg" alt="cart" />
                        щось
                    </a>
                    <button class="nav-button">
                        <span class="nav-button-icon"></span>
                    </button>

                    <div class="mobile-nav">
                        <div class="nav">
                            <ul>
                                <li><a href="/">Головна</a></li>
                                <li><a href="/students">Студенту</a></li>
                                <li><a href="/business">Роботодавцю</a></li>
                            </ul>
                        </div>
                        <a href="#" target="_blank" class="store">
                            <img src="./img/icons/cart.svg" alt="cart" />
                            щось
                        </a>
                    </div>

                </div>
            </div>
        </nav>
    </header>
  <body class="landing-body">
    <div class="container">
    <article class="main-section">
      <h1 class="landing-title">Ваша анкета успішно збережена!</h1>
      <div class="main-section-wrapper">
        <p>Роботодавець зможе зв'язатися з Вами, якщо Ви підійдете під його вимоги</p>
        <a href="/"><button>Повернутися на головну сторінку</button></a>
      </div>
    </article>
    </div>
  </body>
</html>